{% extends 'main/layout.html' %}

{% block title %}
    <title>Первая страница на Джанго</title>
{% endblock %}

{% block content %}



<h2 style="color:DarkBlue"><strong>Добро пожаловать на наш сайт, созданный с использованием Django!</strong></h2>
<h3>Здесь вы найдете уникальные возможности для взаимодействия и обучения</h3><br>

<h3>Наша цель — предоставить удобную платформу для обмена знаниями и опытом</h3><br><br>

<p>Вы можете исследовать разнообразный контент, который регулярно обновляется и дополняется новыми материалами.
Мы стремимся обеспечить легкий доступ к информации, и поэтому наш сайт имеет интуитивно понятный интерфейс.</p><br>

<p> Пользователи могут быстро находить интересующие их темы, участвовать в обсуждениях и делиться собственными мыслями.
    Наши разделы организованы таким образом, чтобы вам было удобно ориентироваться и находить нужное.</p><br>

<p>Регистрация на сайте открывает доступ к дополнительным функциям. Мы рады приветствовать новых участников и уверены, что каждый найдет что-то интересное для себя.
    Для нас важно ваше мнение, поэтому не стесняйтесь оставлять отзывы и предлагать улучшения.</p><br>

<h6><b>Мы ценим ваше время и надеемся, что ваш опыт взаимодействия с нашим сайтом будет положительным.
    Исследуйте, учитесь и растите вместе с нами! Спасибо, что посетили наш проект.
    Мы постоянно работаем над его улучшением, и ваше участие делает нас лишь лучше.</b></h6>

{% endblock %}